@charset "utf-8";

$modal-card-body-padding: 30px;
$control-padding-horizontal: 0.1em;

@import "bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules//bulma/sass/components/card.sass";
@import "../node_modules//bulma/sass/components/navbar.sass";
@import "../node_modules//bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/elements/icon";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/layout/_all";
@import "../node_modules/bulma/sass/components/level";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/grid/columns";
@import "../node_modules/bulma/sass/elements/notification";

.transactions {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
}

.mobile {
  display: none;
}

@media only screen and (max-width: 820px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .card {
    margin: 0;
    flex-direction: row;
    margin-bottom: 50px;
  }
}
